@charset "utf-8";

#map {
  height: 70vh;
  margin: 0 auto;
  border: 1px solid blue;
}

.marker-label {
  color: white;
  background: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  text-align: center;
  padding: 3px 8px;
  border-radius: 3px;
}

footer {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  background-color: whitesmoke;
}

.border-gray {
  border: 1px solid lightgray;
}

h1, h2 {
  font-weight: bold;
}

.text-end {
  font-size: 8px;
}

@media (min-width: 321px) {
  .text-end {
    font-size: 12px;
  }
}

@media (min-width: 400px) {
  .text-end {
    font-size: 14px;
  }
}

@media (min-width: 576px) {
  .text-end {
    font-size: var(--bs-body-font-size);
  }
}